:host {
    margin: 2rem;
    max-height: 20rem;
    cursor: pointer;
}

.card :hover {
    -webkit-box-shadow: 10px 10px 5px 0px grey;
    -moz-box-shadow: 10px 10px 5px 0px grey;
    box-shadow: 10px 10px 5px 0px grey;
}
